[submodule "paas"]
	path = paas
	url = https://github.com/tako0614/takos-paas.git

[submodule "agent"]
	path = agent
	url = https://github.com/tako0614/takos-agent.git

[submodule "app"]
	path = app
	url = https://github.com/tako0614/takos-app.git

[submodule "git"]
	path = git
	url = https://github.com/tako0614/takos-git.git

[submodule "deploy"]
	path = deploy
	url = https://github.com/tako0614/takos-deploy.git

[submodule "runtime"]
	path = runtime
	url = https://github.com/tako0614/takos-runtime.git
